/*Top Bar*/
#prefix-field {
    -fx-background-color: #f2e9dc;
}
#submit-button {
    -fx-background-color: #91c499;
    -fx-border-radius: 2em;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#openfile-button {
    -fx-background-color: #cfd11a;
    -fx-border-radius: 2em;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#prefix-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-scale: 2;
}

/*Left Pane*/
#left-pane {
    -fx-background-color: #808f85;
    -fx-text-fill: white;
}
#save-button {
    -fx-background-color: #91c499;
    -fx-border-radius: 2em;
    /*-fx-background-radius: 5em;*/
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}
/*Center Pane*/
#center-pane {
    -fx-background-color: #f2e9dc;
    -fx-background-radius: 10px;
}
#rdf-text {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: #f2e9dc;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
    -fx-background-color: #f2e9dc;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
    -fx-background-color: #f2e9dc;
}

.scroll-bar:vertical .track, .scroll-bar:horizontal .track{
    -fx-background-color: #808f85;
    -fx-background-radius: 50px;
}
.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #cfd11a;
    -fx-background-radius: 50px;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button,
.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button,
.scroll-bar:vertical *.increment-arrow .content,
.scroll-bar:vertical *.decrement-arrow .content,
.scroll-bar:horizontal *.increment-arrow .content,
.scroll-bar:horizontal *.decrement-arrow .content {
    visibility: hidden;
}
