#submit-button {
    -fx-background-color: #91c499;
    -fx-border-radius: 2em;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#openfile-button {
    -fx-background-color: #cfd11a;
    -fx-border-radius: 2em;
    -fx-background-radius: 5em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#prefix-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-scale: 2;
}
#left-pane {
    -fx-background-color: #808f85;
    -fx-text-fill: white;
}
#center-pane {
    -fx-background-color: #f2e9dc;
}
#prefix-field {
    -fx-background-color: #f2e9dc;
}